.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  background-color: transparent;
  border: 1px solid $butter;
  border-radius: 5px;

  &__input {
    width: 100%;
    padding: 15px;
    color: white;
    background-color: transparent;
    border: 0;
    font-size: 1.6rem;

    @include breakpoint(desktop) {
      padding: 20px;
      font-size: 1.6rem;
    }

    &::placeholder {
      color: $butter;
      font-family: $textFont;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
  }

  &__button {
    margin-right: 10px;
    padding: 0;
    background-color: transparent;
    border: 0;

    @include breakpoint(desktop) {
      margin-right: 15px;
    }
  }
}
